@page "/books"

@*@using CSP.Books.Services;
@using CSP.ModuleContracts

@inject IBookAppService bookService
@inject ISampleAppService sampleService

<h1>Book example</h1>

<p>This component demonstrates fetching data from a book service (without HTTP call).</p>

@if (books == null)
{
	<p><em>Loading...</em></p>
}
else
{*@
@*	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th> 
			</tr>
		</thead>
		<tbody>
			@foreach (var book in books)
			{
				<tr>
					<td>@book.ID</td>
					<td>@book.Title</td>
				</tr>
			}
		</tbody>
	</table>*@
}

@code {
	//private IEnumerable<Book> books;

	//protected override async Task OnInitializedAsync()
	//{
	//	var roles = await sampleService.GetAllRolesNames(); 
	//	books = await bookService.GetBooks(1, 10);
	//}
}
