@page "/books"
 
@using CSP.Book;
@using CSP.ModuleContracts
@using CSP.Book.Samples;
@using Volo.Abp.Application.Dtos;

@inject ISampleAppService bookService

<h1>Book example</h1>

<p>This component demonstrates fetching data from a book service (without HTTP call).</p>

@if (books == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th> 
			</tr>
		</thead>
		<tbody>
			@foreach (var book in books.Items)
			{
				<tr>
					<td>@book.Id</td>
					<td>@book.Title</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private ListResultDto<BookDto> books;

	protected override async Task OnInitializedAsync()
	{
		books = await bookService.GetAsync();
	}
}
